{% extends 'base.html.twig' %}

{% block body %}
    <h1>Part</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ part.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ part.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ part.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ part.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('part_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
