{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ car.make }} {{ car.model }}</h1>
    <p>Traveled {{ car.travelledDistance }} km</p>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% if parts is not empty %}
            {% for part in parts %}
                <tr>
                    <td>{{ part.name }}</td>
                    <td>{{ part.price }}</td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="2">No parts form our suppliers</td>
            </tr>
        {% endif %}
    </table>
    <p>Total cost of parts: {{ car.costOfParts }}</p>
{% endblock %}