{% extends 'base.html.twig' %}

{% block body %}
<h1>Cars list</h1>
{{ form_start(form,{'action':path('cars_index')}) }}
    {{ form_end(form) }}

<table border="1px">
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Travelled Distance</th>
        <th>View parts</th>
    </tr>
    {# @var car \CarDealerBundle\Entity\Cars#}
    {% for car in cars %}
        <tr>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.travelledDistance }}</td>
            <td><a href="{{ path('parts_details',{'id':car.id}) }}">Details</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}