{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Make</th>
                <th>Model</th>
                <th>Travelleddistance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.travelledDistance }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
